<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Save" value="True"/>
        <add key="Name" value="devpi-cuda-wheels_ORG"/>
        <add key="Left" value="16"/>
        <add key="Rght" value="16"/>
        <add key="UpXX" value="10"/>
        <add key="Down" value="32"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
