<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="files" value="font_tiles,cloud01_32x24"/>
    </appSettings>
    <log4net>
        <root>
            <level value="INFO" />
            <appender-ref ref="LogFileAppender" />
        </root>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
            <param name="File" value="D:\Logs\30-BuildCsvFromImage.log" />
            <param name="AppendToFile" value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd HH:mm:ss,fff} – %m%n" />
            </layout>
        </appender>
    </log4net>
</configuration>