<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Save" value="true"/>
        <add key="Name" value="02a-ceedling"/>
        <add key="Left" value="0"/>
        <add key="Rght" value="20"/>
        <add key="UpXX" value="82"/>
        <add key="Down" value="70"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
