<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Save" value="true"/>
        <add key="Name" value="Tnt"/>
        <add key="Left" value="10"/>
        <add key="Rght" value="10"/>
        <add key="UpXX" value="10"/>
        <add key="Down" value="10"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
